@charset "UTF-8";

/* font-family: 'Myriad Pro Bold Condensed'; */
@font-face {
  font-family: 'Myriad Pro Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Condensed"), url("../fonts/myriad-pro/MYRIADPRO-COND.woff") format("woff");
}

/* font-family: 'Myriad Pro Regular';  */
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/myriad-pro/MYRIADPRO-REGULAR.woff") format("woff");
}

/*  font-family: 'Myriad Pro Bold'; */
@font-face {
  font-family: 'Myriad Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold"), url("../fonts/myriad-pro/MYRIADPRO-BOLD.woff") format("woff");
}

/* font-family: 'Myriad Pro Semibold'; */
@font-face {
  font-family: 'Myriad Pro Semibold';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Semibold"), url("../fonts/myriad-pro/MYRIADPRO-SEMIBOLD.woff") format("woff");
}

/* font-family: 'Myriad Pro Bold Condensed'; */
@font-face {
  font-family: 'Myriad Pro Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Bold Condensed"), url("../fonts/myriad-pro/MYRIADPRO-BOLDCOND.woff") format("woff");
}

/* font-family: 'MyriadPro-LightSemiExt'; */
@font-face {
  font-family: 'MyriadPro-LightSemiExt';
  src: url("../fonts/myriad-pro/MyriadPro-LightSemiExt.eot") format("embedded-opentype"), url("../fonts/myriad-pro/MyriadPro-LightSemiExt.otf") format("opentype"), url("../fonts/myriad-pro/MyriadPro-LightSemiExt.woff") format("woff"), url("../fonts/myriad-pro/MyriadPro-LightSemiExt.ttf") format("truetype"), url("../fonts/myriad-pro/MyriadPro-LightSemiExt.svg#MyriadPro-LightSemiExt") format("svg");
  font-weight: normal;
  font-style: normal;
}

/** font-family: 'Bebas Neue'; **/
@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/Bebas_Neue_Cyrillic/Bebas_Neue_Cyrillic.eot");
  src: local("☺"), url("../fonts/Bebas_Neue_Cyrillic/Bebas_Neue_Cyrillic.woff") format("woff"), url("../fonts/Bebas_Neue_Cyrillic/Bebas_Neue_Cyrillic.ttf") format("truetype"), url("../fonts/Bebas_Neue_Cyrillic/Bebas_Neue_Cyrillic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'Myriad Pro Regular'; */
@font-face {
  font-family: 'Myriad Pro Regular';
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoRegular/LatoRegular.woff") format("woff"), url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: 'Myriad Pro Semibold'; */
@font-face {
  font-family: 'Myriad Pro Semibold';
  src: url("../fonts/LatoBold/LatoBold.eot");
  src: url("../fonts/LatoBold/LatoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBold/LatoBold.woff") format("woff"), url("../fonts/LatoBold/LatoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoRegular"; */
@font-face {
  font-family: "LatoRegular";
  src: url("../fonts/LatoRegular/LatoRegular.eot");
  src: url("../fonts/LatoRegular/LatoRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/LatoRegular/LatoRegular.woff") format("woff"),
  url("../fonts/LatoRegular/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoItalic"; */
@font-face {
  font-family: "LatoItalic";
  src: url("../fonts/LatoItalic/LatoItalic.eot");
  src: url("../fonts/LatoItalic/LatoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoItalic/LatoItalic.woff") format("woff"), url("../fonts/LatoItalic/LatoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoLight"; */
@font-face {
  font-family: "LatoLight";
  src: url("../fonts/LatoLight/LatoLight.eot");
  src: url("../fonts/LatoLight/LatoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLight/LatoLight.woff") format("woff"), url("../fonts/LatoLight/LatoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoBoldItalic"; */
@font-face {
  font-family: "LatoBoldItalic";
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot");
  src: url("../fonts/LatoBoldItalic/LatoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoBoldItalic/LatoBoldItalic.woff") format("woff"), url("../fonts/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "LatoLightItalic"; */
@font-face {
  font-family: "LatoLightItalic";
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot");
  src: url("../fonts/LatoLightItalic/LatoLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/LatoLightItalic/LatoLightItalic.woff") format("woff"), url("../fonts/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/** Generated by FG **/
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold/Lato-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* font-family: "ArimoRegular"; */
@font-face {
  font-family: "ArimoRegular";
  src: url("../fonts/ArimoRegular/ArimoRegular.eot");
  src: url("../fonts/ArimoRegular/ArimoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoRegular/ArimoRegular.woff") format("woff"), url("../fonts/ArimoRegular/ArimoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArimoBold"; */
@font-face {
  font-family: "ArimoBold";
  src: url("../fonts/ArimoBold/ArimoBold.eot");
  src: url("../fonts/ArimoBold/ArimoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBold/ArimoBold.woff") format("woff"), url("../fonts/ArimoBold/ArimoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArimoBoldItalic"; */
@font-face {
  font-family: "ArimoBoldItalic";
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot");
  src: url("../fonts/ArimoBoldItalic/ArimoBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.woff") format("woff"), url("../fonts/ArimoBoldItalic/ArimoBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "ArimoItalic"; */
@font-face {
  font-family: "ArimoItalic";
  src: url("../fonts/ArimoItalic/ArimoItalic.eot");
  src: url("../fonts/ArimoItalic/ArimoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/ArimoItalic/ArimoItalic.woff") format("woff"), url("../fonts/ArimoItalic/ArimoItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}