/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width : 1200px) {
	.block-registration .part {
		padding: 1% 0;
	}
	.block-registration .left_part {
		padding-right: 2%;
	}
	.block-registration .right_part {
		padding-left: 2%;
	}
	.block-registration {
		padding: 2%;
	}
}

@media only screen and (max-width : 991px) {
	.block-registration {
		padding: 2% 1%;
	}
	.block-form-header .input-to-trail,
	.block-form-header .input-from-trail {
		width: 47%;
	}

	.block-form-header .input-to-trail {
		padding-right: 0;
	}

	.slider-middle,
	.wrap-middle .slide {
		height: 650px;
	}

	/* .body .wrap-middle,
	.body .bg-bottom {
		height: 650px;
	} */
	.block-user-tabs .block-registration .part,
	.block-registration-user #group_registration .part {
		width: 100%;
		display: block;
		padding-right: 0;
		padding-left: 0;
	}
	.block-user-tabs .block-registration .left_part,
	.block-registration-user #group_registration .left_part {
		border: none;
		margin-bottom: 15px;
	}
	.block-user-tabs .block-registration .caption .faktura_title,
	.block-registration-user #group_registration .caption .faktura_title {
		margin-bottom: 0;
	}
	.block-user-tabs .block-registration {
		padding: 3.5% 3%;
	}
	.block-user-tabs .tab-content .table_mob {
		overflow: auto;
	}
}
/*@media (max-width : 910px) {
}*/
@media (max-width : 850px) {
	.block-user-tabs .anulowane_tab .col-2 {
	    width: 43%;
	}	
	.block-user-tabs .tab-content .block-filters {
		display: none !important;
	}
	.block-user-tabs .block-tickets .col {
		display: table;
		width: 100%;
		padding: 0;
	}
	.block-user-tabs .tab-content .mob_title,
	.block-user-tabs .tab-content .mob_col {
	    display: table-cell;
	    vertical-align: middle;
	    padding: 10px;
	}
	.block-user-tabs .tab-content .mob_title {
		width: 20%;
		background: #1bbcef;
		color: #fff;
		font-family: 'Myriad Pro Semibold';
		font-size: 15px;
		letter-spacing: .4px;
		border-bottom: 1px solid #4dd1fb;
	}
	.block-user-tabs .tab-content .invoices_tab .mob_title {
		width: 45%;
	}
	.block-user-tabs .tab-content .mob_col {
		border: 1px solid #4dd1fb;
		border-top: none;
	}
	.block-user-tabs .tab-content .col-1 .mob_col {
		border-top: 1px solid #4dd1fb;
	}
	.block-user-tabs .tab-content .mob_col .wrap-btn {
		display: inline-block;
	}
	.block-user-tabs .block-tickets .row-ticket {
		border: none;
	}
}
/* Small Devices, Tablets */

@media (max-width : 800px) {
	.block-user-tabs .nav-tabs > li {
		width: 50%;
		border: 1px solid #fff;
		border-left: none;
	}
}
@media only screen and (max-width : 767px) {
	.footer-contacts .contact .mobile_version {
	  display: block;
	}
	.footer-contacts .bottom_row .desktop_version,
	.body .bg-bottom {
		display: none;
	}

	.footer .carousel-company .col img {
		display: block;
		width: 100%;
		height: auto;
	}

	.footer-contacts .col {
		border: none;
	}

	.footer-contacts {
		padding: 30px 0;
	}

	.slider-middle, .wrap-middle .slide {
		display: none !important;
	}

	.body .wrap-middle {
		height: auto;
	}

	.footer-contacts .block-title {
		padding-top: 24px;
		margin-bottom: 10px;
	}

	.body .block-form-header {
		position: relative;
	}

	.footer-contacts .contact .phone a {
		line-height: 36px;
	}
	.block-registration .right_part .wrap-block {
		width: 50%;
	}
	.page-order .block-order-tickets .mobile_title {
	  display: block;
	  line-height: 1.42;
	}
	.page-order .block-order-tickets .header-row-goods {
		display: none;
	}
	.page-order .block-order-tickets .title-distance {
		width: 80%;
	}
	.page-order .wrap-field {
		width: 20%;
	}
	.page-order .block-order-tickets .count-tickets,
	.page-order .block-order-tickets .price_block {
		display: block;
		text-align: right;
		width: 100%;
	}
	.page-order .block-order-tickets .count-tickets span {
		padding-right: 15px;
	}
	.page-order .block-order-tickets #details .count-tickets,
	.page-order .block-order-tickets .price_block {
		width: 100%;
		text-align: left;
	}
	.page-order .block-order-tickets .price_block {
		margin-top: 10px;
	}
	.page-order .block-order-tickets .count-tickets .col-title,
	.page-order .block-order-tickets .count-tickets .form-control,
	.page-order .block-order-tickets .count-tickets span,
	.page-order .block-order-tickets .price_block .col-title,
	.page-order .block-order-tickets .price_block .price {
		display: inline-block;
	}
	.page-order .block-order-tickets .count-tickets .col-title,
	.page-order .block-order-tickets .price_block .col-title {
		width: 45px;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy {
		padding-left: 25px;
	}
	.block-user-tabs #group_registration .row_faktura,
	.block-registration-user #group_registration .row_faktura {
		width: 50%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 640px) {
	.block-registration .part {
		width: 100%;
		display: block;
		border: none;
	}
	.block-registration .caption .faktura_title {
		margin-bottom: 5px;
	}
	.block-user-tabs .wrap_btn_save {
		padding: 20px 0;
		white-space: normal;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy label strong,
	.block-user-tabs .wrap_btn_save .checkbox-buy {
		display: block;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy label {
		overflow: hidden;
	}
	.block-user-tabs .btn-edit,
	.block-user-tabs .wrap_btn_save .checkbox-buy label span {
		float: left;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy label span {
		margin-right: 20px;
	}
	.page-order .block-order-tickets .row-goods .row-g {
		white-space: normal;
	}
	.page-order .block-order-tickets .title-distance {
		width: 100%;
		float: none;
		overflow: hidden;
		padding-right: 15px;
	}
	.page-order .wrap-field {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.page-order .block-order-tickets #details .count-tickets,
	.page-order .block-order-tickets .price_block {
		display: inline-block;
		width: 49%;
		padding: 0;
	}
	.page-order .block-order-tickets #details .count-tickets {
		margin-right: 2%;
	}
	.page-order .block-order-tickets .count-tickets, .page-order .block-order-tickets .price_block {
		display: inline-block;
	}
	.page-order .block-order-tickets .col-1, .page-order .block-order-tickets .col-2 {
		width: 49%;
		padding: 0;
	}
	.page-order .block-order-tickets .col-1{
		margin-right: 2%;
	}
}
@media only screen and (max-width : 560px) {
	.footer-contacts .menu_row .block-title {
		font-size: 20px;
	}
	.footer-contacts .bottom_row .col-xs-6 {
		width: 100%;
		float: none;
		margin-bottom: 10px;
	}
	.footer-contacts {
		padding: 20px 0;
	}
	.page-order .block-order-tickets .block-discount .dropdown-menu {
		max-width: none;
		right: -10px;
		left: -15px;
	}
	.page-order .block-order-tickets .block-discount .dropdown-menu .dropdown-header {
		padding: 3px 10px;
	}
	.page-order .block-order-tickets .block-discount .dropdown-menu li a.opt {
		padding-left: 15px;
		white-space: normal;
	}
	.page-order .block-order-tickets .block-discount .btn {
		padding-left: 0;
	}
}
@media only screen and (max-width : 479px) {
	.block-form-header .input-to-trail,
	.block-form-header .input-from-trail {
		width: 100%;
		padding-right: 0;
	}
	
	.block-user-tabs #group_registration .row_faktura,
	.block-registration-user #group_registration .row_faktura {
		width: 100%;
	}
	.block-registration-user .row-info:nth-child(4), .block-registration-user .row-info:nth-child(5), .block-registration-user .row-info:nth-child(6) {
		margin-bottom: 25px;
	}
	.reverse {
		display: none;
	}

	.block-header .block-title {
		font-size: 28px;
	}

	.page-order .block-order-tickets .col-1, .page-order .block-order-tickets .col-2 {
		float: none;
		width: 100%;
		padding: 0;
	}
	.page-order .block-order-tickets .price_block {
		text-align: right;
	}
	.page-order .block-order-tickets .price_block .col-title {
		text-align: left;
	}
	.page-order .block-order-tickets .wrap-field .price {
		padding-right: 0;
	}
	.page-order .block-order-tickets .col-1 .mobile_title ,
	.page-order .block-order-tickets .col-2 .mobile_title  {
		float: left;
		padding-right: 10px;
		line-height: 19px;
	}
	.page-order .block-order-tickets .title-distance .start-city,
	.page-order .block-order-tickets .title-distance .end-city,
	.page-order .block-order-tickets .start-time,
	.page-order .block-order-tickets .end-time,
	.page-order .block-order-tickets .date {
		padding-left: 30px;
	}
	.page-order .block-order-tickets .col-1 {
		margin-bottom: 10px;
	}
}
@media (max-width : 440px) {
	.block-user-tabs .block-tickets {
		padding: 0 10px;
	}
	.block-user-tabs .tab-content .mob_title {
    	width: 26%;
    }
	.block-user-tabs .tab-content .invoices_tab .mob_title {
    	width: 48%;
    }
}
@media (max-width : 370px) {
	.block-user-tabs .block-tickets .col-5 .mob_col {
		text-align: center;
	}
}
@media only screen and (max-width : 440px) {
	.block-registration .right_part .wrap-block {
		width: 100%;
	}
	.footer-contacts .menu_row > .col-xs-7,
	.footer-contacts .menu_row > .col-xs-5 {
		width: 100%;
		float: none;
	}
	.footer-contacts .contact .col-xs-9,
	.footer-contacts .contact .mobile_version {
		width: 100%;
		float: none;
		text-align: center;
	}
	.footer-contacts .contact {
		margin-top: 10px;
	}
	.page-order .block-order-tickets .block-discount .dropdown-menu {
		max-width: none;
		right: -5px;
		left: -15px;
	}
	.block-user-tabs .btn-edit {
		float: none;
	}
	.block-user-tabs .wrap_btn_save {
		text-align: center;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy {
		margin-top: 15px;
		text-align: left;
		padding-left: 0;
	}
	.block-user-tabs .wrap_btn_save .checkbox-buy label {
		display: block;
	}
	

	.block-user-tabs .nav-tabs > li {
	    width: 100%;
	    border: 1px solid #fff;
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 350px) {
	.page-order .block-all-sum {
		width: 100%;
		float: none;
		margin-top: 15px;
		text-align: center;
	}
	.page-order .block-all-sum .all-sum {
		float: none;
		display: inline-block;
	}
	.block-order .block-info-for-passengers .wrap-btn {
		text-align: center;
		margin-top: 10px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
	/*.body .wrap-middle .footer-contacts {
		position: absolute;
		bottom: -1px;
	}*/

	.body .slider-middle {
		/*display: block;*/
	}

	/*.body .wrap-middle {
		height: 798px;
	}*/

	.main_page .wrap-middle .footer-contacts {
		position: absolute;
		bottom: -1px;
		width: 100%;
	}

	.footer .col {
		float: left;
	}

	.footer .col-1 {
		padding-top: 22px;
		width: 76%;
	}

	.footer .col-2 {
		width: 24%;
	}
}

@media only screen and (min-width: 992px) {
	.footer-contacts .block-title {
		font-size: 20px;
	}
	.footer-contacts .contact .phone a {
		background: url(../img/icon-phone.png) 0 4px no-repeat;
	}

	/* .body .wrap-middle {
		height: 798px;
	} */

	.block-form-header .to-trail,
	.block-form-header .from-trail {
		width: 230px;
	}

	.footer .col-1 {
		width: 80%;
	}

	.footer .col-2 {
		width: 20%;
	}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
	.container {
		width: 1024px;
	}
	.footer-contacts .block-title {
		font-size: 24px;
	}

	.block-form-header .to-trail,
	.block-form-header .from-trail {
		width: 244px;
	}
}