@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row:before,
.row:after {
  content: '';
  display: table;
}
.row:after {
  clear: both;
}
*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

body {
  font-family: 'Myriad Pro Regular';
  position: relative;
  font-size: 16px;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}
.faktura_wrrap {
  width: 100%;
  padding-top: 40px;
}
.faktura_wrrap .faktura {
    width: 100%;
    overflow-x: auto;
}
.faktura h2 {
  text-align: center;
  width: 50%;
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.faktura .container {
  width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}
.faktura .row {
  margin: 0;
}
.faktura p,
.faktura h4 {
  margin: 0;
  padding: 0;
}
.faktura .table {
  background-color: transparent;
  width: 100%;
  margin-bottom: 28px; 
  border-spacing: 0;
  border-collapse: collapse;
}
.faktura .table td,
.faktura .table th {
  border: 1px solid #000;
  padding: 0 4px;
}
.faktura .table th {
  text-align: center;
}
.faktura .table td {
  vertical-align: bottom;
  text-align: right;
}
.faktura .table .without_border {
  border: none;
}
.faktura .table .description {
  text-align: left;
}
.faktura .table .bold {
  font-weight: 700;
}
.faktura .contacts_wrrap,
.faktura .final_row {
  display: table;
  width: 100%;
}
.faktura .contacts_wrrap .col div {
  margin-bottom: 28px;
}
.faktura .col {
  display: table-cell;
  vertical-align: top;
}
.faktura .contacts_wrrap .col:first-child {
  width: 60%;
}
.faktura .contacts_wrrap .col:last-child {
  width: 40%;
}
.faktura .empty_tr {
  height: 0;
}
.faktura .final_row .col {
  width: 33.3%;
}
.faktura .final_row .col div {
  margin-bottom: 65px;
}
.faktura .final_row .col p {
  margin-bottom: 22px;
}
.faktura .contacts_block {
  margin-bottom: 55px;
}
.faktura h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
}