.bilet_modal {
	padding-left: 0 !important;
	padding-right: 0 !important;
  	min-height: 75vh !important;
  	max-height: 97vh !important;
  	overflow-y: auto;
}
@media (min-height: 700px) {
	.bilet_modal {
		min-height: 50vh !important;
	}
}
@media (min-height: 1000px) {
	.bilet_modal {
		min-height: 40vh !important;
	}
}
.bilet_modal .swal2-icon {
	width: 28px;
	height: 28px;
	font-size: 47px;
	line-height: 28px;
	color: #1bbcef;
	border-color: #1bbcef;
	border-width: 5px;
}
.bilet_modal #modalTitleId,
.bilet_modal .swal2-info {
	padding-left: 10px;
	padding-right: 10px;
}
.bilet_modal #modalTitleId {
	color: #1e6094;
	font-size: 24px;
	font-weight: 700;
	margin-top: 1em;
	margin-bottom: 1.5em;
}
.bilet_modal .swal2-info {
	padding-top: 10px;
	padding-bottom: 10px;
}
.bilet_modal.swal2-modal .swal2-content {
	font-family: 'LatoRegular';
	font-weight: 400;
	font-style: normal;
	color: #848484;
}
.swal-reverse {
    width: 20px;
    height: 50px;
    display: inline-block;
    border: none;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 17px;
    background: url(../img/icon-form-trail.png) center center no-repeat;
}
.swal-wrap {
    text-align: center;
    /* margin: 20px auto; */
}
.swal-wrap .col {
	display: inline-block;
	width: 48%;
	vertical-align: middle;
}
.bilet_modal .swal-wrap.first_row .col {
	float: left;
}
.bilet_modal .swal-wrap.first_row .col:last-child {
	float: right;
}
.swal-wrap .title {
	margin-bottom: 5px;
	font-size: 15px;
	text-align: left;
	padding-left: 15px;
}
.bilet_modal .swal-wrap .title {
	padding-left: 38px;
	background-position: center left 7px;
	background-repeat: no-repeat;
	padding-top: 4.5px;
	padding-bottom: 4.5px;
}
.bilet_modal .swal-wrap .start_col .title {
	background-image: url(../img/before_bilet.png);
}
.bilet_modal .swal-wrap .stop_col .title {
	background-image: url(../img/after_bilet.png);
}
.swal2-modal .swal-select {
	width: 100%;
	display: block;
	vertical-align: middle;
	color: #545454;
	font-size: inherit;
	padding: 5px 0 0;
	max-width: 100%;
	margin: 20px auto;
	text-align: left;
}
.swal2-modal .swal-select {
	margin: 0 auto;
}
.swal2-modal .swal2-content {
	overflow: visible;
}
.swal2-modal .swal-select .jq-selectbox__select {
	background: #f9f9f9;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 5px;
	border: none;
	height: 43px;
	line-height: 43px;
	font-family: 'LatoRegular', Helvetica, Arial, sans-serif;
	color: #848484;
	text-align: left;
	text-shadow: none;
}
.swal2-modal .swal-select .jq-selectbox__trigger-arrow {
	height: 100%;
	background: url(../img/arrow-down.png) center no-repeat;
	width: 13px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: none;
}
.swal2-modal .swal-select.opened  .jq-selectbox__trigger-arrow {
	background: url(../img/aroow-up.png) center no-repeat;
}
.swal2-modal .swal-select.jq-selectbox li {
	padding: 13px 10px 12px;
	white-space: pre-line;
}
.swal2-modal .swal-select .jq-selectbox__trigger {
	border-left: none;
}
.swal2-modal .swal-select .jq-selectbox__dropdown {
	top: 100% !important;
	bottom: auto !important;
	max-width: 100% !important;
}
.swal2-modal .swal-select ul {
	max-height: 140px !important;
}
.swal2-modal .swal-wrap {
	padding-left: 20px;
	padding-right: 20px;
}
/* .bilet_modal .swal-wrap.first_row {	
	overflow: hidden;
} */
.bilet_modal .swal-wrap.first_row,
.bilet_modal .swal-wrap.second_row {
	background: #e7e7e7;
	padding: 20px 30px;
	position: relative;
}
.bilet_modal .swal-wrap.second_row {
	display: table;
	width: 100%;
	padding-bottom: 35px;
	margin-bottom: 35px;
	padding-top: 10px;
}
.bilet_modal .swal-wrap.second_row .col {
	display: inline-block;
	width: 48%;
	text-align: left;
}
.bilet_modal .swal-wrap.second_row:after {
	content: '';
	display: block;
	background: #fff;
	height: 1px;
	width: auto;
	position: absolute;
	bottom: 16px;
	left: 30px;
	right: 30px;
}
.swal2-modal .swal-wrap .field-count-bilets {
	height: 43px;
	text-align: right;
}
.swal2-modal .counter,
.swal2-modal .block-sum,
.swal2-modal .sum_title,
.swal2-modal .money {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	font-size: 18px;
}
.swal2-modal .block-sum {
	float: right;
	margin-top: 2px;
}
.swal2-modal .counter span {
	padding: 0;
}
.swal-wrap input.field-count-bilets {
	display: inline-block;
	float: none;
	vertical-align: middle;
	margin-left: 10px;
	margin-right: 5px;
}
.swal2-modal .sum_row .col {
	width: 50%;
}
.swal2-modal .second_row  {
	/* border-bottom: 1px dashed #333; */
	padding-bottom: 20px;
	margin-bottom: 0;
	/* background-image: rgba(86,87,87,1); */
	background-image: -moz-linear-gradient(left, rgba(175,175,175,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background-image: -webkit-gradient(left top, right top, color-stop(0%, rgba(175,175,175,1)), color-stop(50%, rgba(175,175,175,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background-image: -webkit-linear-gradient(left, rgba(175,175,175,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background-image: -o-linear-gradient(left, rgba(175,175,175,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background-image: -ms-linear-gradient(left, rgba(175,175,175,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background-image: linear-gradient(to right, rgba(175,175,175,1) 0%, rgba(175,175,175,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#ffffff', GradientType=1 );
	background-size: 12px 1px;
	background-repeat: repeat-x;
	background-position: bottom left;
}
.swal2-modal .second_row .col {
	vertical-align: bottom;
}
.swal2-modal .discount_title {
	background-color: #e7e7e7;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
	padding-top: 1px;
	padding-bottom: 1px;
	width: 100%;
}
.swal2-modal .discount_title_wrrap {
	overflow: hidden;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: center left 10px;
	background-image: url(../img/bilet_arrow.png);	
}
.swal2-modal .discount_title_wrrap:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	height: 2px;
	background-image: url(../img/after_title_bilet.png);
	background-repeat: repeat-x;
	position: relative;
	margin-right: -100%;
	right: -15px;
}
.bilet_modal .second_row .col:last-child {
	padding-left: 4%;
	width: 52%;
	text-align: left;
}
.swal2-modal .sum_row .col:last-child {
	text-align: right;
}
.swal-wrap .block-all-sum,
.swal-wrap .sum_title,
.swal-wrap .swal-money {
	width: auto;
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
}
.bilet_modal .swal2-styled {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.bilet_modal.swal2-modal .swal2-styled+.swal2-styled {
	margin-top: 0;
	margin-bottom: 20px;
}
.bilet_modal .swal2-confirm {
	margin-left: 30px;
}
.bilet_modal .sum_row {
	float: right;
	padding-right: 30px;
}
.swal-wrap .block-all-sum {
	margin-left: 30px;
}
.swal-wrap .sum_title {
	margin-right: 15px;
}
.swal2-modal .swal2-spacer {
	display: none !important;
}
@media (max-width: 669px) {
	.bilet_modal #modalTitleId, .bilet_modal .swal2-info {
		margin-bottom: 10px;
		margin-top: 0;
	}
	.bilet_modal {
		width: 97% !important;
	}
	.bilet_modal .swal-wrap.second_row .col {
		vertical-align: middle;
	}
	.bilet_modal .swal-wrap.second_row .col:first-child {
		width: 65%;
	}
	.bilet_modal .swal-wrap.second_row .col:last-child {
		text-align: right;
		padding-left: 3%;
	}
	.swal2-modal .counter, .swal2-modal .block-sum {
		display: block;
		text-align: right;
	}
	.bilet_modal .swal-wrap.first_row,
	.bilet_modal .swal-wrap.second_row,
	.swal2-modal .discount_title,
	.bilet_modal .sum_row {
		padding-left: 20px;
		padding-right: 20px;
	}
	.bilet_modal .swal-wrap.second_row:after {
		left: 20px;
		right: 20px;
	}
	.bilet_modal .swal2-confirm {
		margin-left: 10px;
	}
	.bilet_modal .sum_row,
	.bilet_modal .swal2-styled {
		float: none;
	}
	.swal-wrap .block-all-sum {
		margin-left: 0;
	}
	.bilet_modal .swal-wrap.second_row,
	.swal-wrap .block-all-sum {
		margin-bottom: 15px;
	}
	.bilet_modal .swal-wrap.second_row {
		padding-bottom: 27px;
	}
	.bilet_modal .swal2-cancel {
		width: 180px;
	}
	.bilet_modal.swal2-modal .swal2-styled+.swal2-styled {
		margin-bottom: 0;
	}
}
@media (max-width: 540px) {
	.swal2-modal, .bilet_modal {
	  width: 100% !important;
	}
	.swal-wrap .col,
	.bilet_modal .swal-wrap.second_row .col:first-child {
		width: 100%;
	}
	.swal-reverse {
		left: 35px;
		bottom: 64px;
		height: 46px;
	}
	.bilet_modal .swal-wrap.first_row .col:last-child {
		margin-top: 10px;
	}
	.swal2-modal .counter, .swal2-modal .block-sum {
		display: inline-block;
	}
	.bilet_modal .swal-wrap.second_row .col:last-child {
		overflow: hidden;
		padding-left: 0;
		margin-top: 10px;
	}
	.swal2-modal .counter {
		float: left;
	}
	.swal2-modal .block-sum {
		float: right;
	}
	.bilet_modal .swal-wrap .title {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
	.bilet_modal .swal-wrap.second_row .col {
		display: block;
		width: 100%;
	}
	.swal-wrap .sum_title {
		margin-right: 5px;
	}
}
@media (max-width: 450px) {
	.swal2-show {
	    width: 98% !important;
	    padding: 10px !important;
	}
	.swal2-modal .swal-wrap {
	    width: 100%;
	    min-width: 100% !important;
	}
	.bilet_modal .swal2-cancel {
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
		margin-right: 0;
		margin-left: 5px;
	}
	.bilet_modal .swal2-confirm {
		margin-left: 0;
		margin-right: 5px;
	}
}
@media (max-width: 380px) {
	.swal2-modal .counter, .swal2-modal .block-sum {
		display: table;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
	.bilet_modal .swal-wrap.second_row {
		padding-bottom: 17px;
	}
	.swal-wrap .block-all-sum {
		margin-bottom: 10px;
	}
}