tr{
    margin:-10px 0;
    padding: 0px;
}
td{
    border:3px black solid;
    margin:-10px 0;
    padding: 0px;
    border-bottom: 0.00001em solid white;
    /*border-top: 0;*/
    border-left: 0.00001em solid white;
    /*border-right: 0;*/
}
table{
    margin:0px;
    border-collapse:collapse;
}
p{
    margin: -3px 0;
    padding: 0px;
}
b{
    margin:0;
    padding: 0px;
    font-size:15px;
}
small{
    font-size: 11px;
    /*padding: 0px;*/
}
.vsm-f{ /* vsm-f - very small font */
    font-size: 10px;
}
.sm-f{ /* sm-f - small font */
    font-size: 13px;
}
h3{
    margin: 0;
    padding: 0px;
    font-size: 15px;
}
.right{
    float:right;
    width:100px;
}
.centre{
    margin:0 auto;
    width:100px;
}
.none{
    display: none;
}
.no_border_top{
    border-top:0px;
}
.no_border_bottom{
    border-bottom:0px;
}
.block{
    width: 100%;
    margin:auto;
}
.block1{
    /*width: 17%;*/
}
.block2{
    /*width: 13%;*/
    margin:auto;
}
.block3{
    /*width: 35%;*/
    margin:auto;
}
.block4{
    /*width: 20%;*/
    margin:auto;
}
.container span {
    display: inline-block;
}
.gray{
    background-color: darkgray;
    /*background-color: rgba(162, 162, 162, 0.6);*/
}

.white{
    background-color: white;
}

.no-borders-gray{
    border-bottom: 0.0001em solid darkgray;
    /*border-top: 0;*/
    border-left: 0.0001em solid darkgray;
    /*border-right: 0;*/
}
.borders{
    border-bottom: 1px solid black;
    /*border-top: 1px solid black;*/
    border-left: 1px solid black;
    /*border-right: 1px solid black;*/
}
.in-block {
    display: inline-block !important;
}
.gray-cell {
    margin: 8px auto;
}
.indent {
    margin: 16px;
}