@charset "UTF-8";
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html { -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background-color: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

.button.outline {
    color: #617d8b;
    background-color: #fff;
    margin-bottom: 1.5rem;
}
.button.outline:hover {
    color: #fff;
    background-color: #617d8b;
}


.gallery_container .text{
    display: block;
    margin: 1rem 1rem;
}
input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

td>img { height: 80px;}

body { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; overflow-x: hidden; line-height: 1.6; font-size: 1.5em; font-family: 'Roboto', sans-serif; color: #262b33; background-color: whitesmoke; }

h1, h2, h3, h4, .h1, .h2, .h3, .h4 { margin-top: 0; margin-bottom: 1.5rem; font-weight: 300; display: block; }

h1, .h1 { font-size: 2.8rem; line-height: 1.2; display: block; text-transform: uppercase; border-bottom: 1px solid #E8E8E8; padding-bottom: 1.5rem; }

h2, .h2 { font-size: 2.4rem; line-height: 1.25; display: block; }

h3, .h3 { font-size: 2rem; line-height: 1.3; display: block; }

h4, .h4 { font-size: 1.8rem; line-height: 1.35; display: block; }

h2.underlined, .h2.underlined { padding-bottom: 1.5rem; border-bottom: 1px solid #E8E8E8; }

a { text-decoration: none; color: inherit; -webkit-transition: all .3s ease; transition: all .3s ease; }

a:hover { color: #617d8b; }

.one_plugin ul a.turned_off, .one_plugin a.turned_off{
    color: #FFFFFF;
    background-color: #CC3636;
    border: 1px solid #8E0F06;
}

.one_plugin ul a.turned_off:hover{
    border: 1px solid #617d8b;
}
.one_plugin a.turned_off:hover{
    background-color: rgba(158, 158, 158, 0.2);
    color: #262b33;
    border: 0;
}

.bg_dark { background-color: #212121; color: #fff; }

.color_main { color: #617d8b; }

.color_accent { color: #f44336; }

.color_grey { color: #9e9e9e; }

.wrapper { max-width: 1300px; width: 100%; margin: 0 auto; padding: 0 25px; position: relative; }

.wrapper:after { content: ""; display: table; clear: both; }

.button { display: inline-block; text-align: center; white-space: nowrap; cursor: pointer; text-decoration: none; -webkit-transition: background-color .3s ease, color .3s ease; transition: background-color .3s ease, color .3s ease; padding: 0 30px; height: 38px; line-height: 38px; color: #fff; background-color: #617d8b; border: 1px solid #617d8b; text-transform: uppercase; font-size: 1.6rem; font-weight: normal; }

.button:hover { color: #617d8b; background-color: #fff; }

.button:focus { outline: 0; }

.button.primary { background-color: #616161; border: 1px solid #616161; }

.button.primary:hover { background-color: #fff; color: #616161; }

.button.clear { background-color: transparent; border: 0; color: #262b33; padding: 0 10px; border-radius: 4px; }

.button.clear:hover { background-color: rgba(158, 158, 158, 0.2); }

.button.clear.red { color: #ef5350; }

.button.clear.red:hover { background-color: rgba(239, 83, 80, 0.2); }

.input { box-shadow: none; margin-bottom: 2rem; border-radius: 3px; background-color: #fff; padding: 6px 10px; height: 38px; border: 1px solid #ccc; width: 100%; -webkit-transition: border .3s ease; transition: border .3s ease; }

td select.input{margin-top: 2rem; height: 3rem;}

td .input{margin-top: 2rem; height: 3rem;}

.input:focus { outline: 0; border: 1px solid #617d8b; }

.input_tr{margin: 0.8rem 0; height: 30px;}

.input.half { max-width: 40rem; float: left; clear: both; }

.pre_input { margin-bottom: .3rem; position: relative; }

.pre_input span { float: right; font-size: 1.9rem; margin-left: .4rem; cursor: pointer; -webkit-transition: all .2s ease; transition: all .2s ease; margin-top: -0.4rem; display: inline-block; color: #616161; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

.pre_input span:hover { color: #617d8b; }

.pre_input span.active { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.pre_input .watch_thumbnail { margin-top: -0.3rem; }

.input_wrap { position: relative; }

.input_wrap .input { padding-left: 3.5rem !important; border-radius: 0; border-bottom: 1px solid #95B4BC !important; border: 0; -webkit-transition: border .3s ease; transition: border .3s ease; position: relative; }

.input_wrap .icon { position: absolute; top: 4px; left: 0; z-index: 2; color: #95B4BC; font-size: 2.5rem; }

.login_form .validate_error { border-bottom: 1px solid #C59392 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;}

.validate_error { border: 1px solid #C16F69 !important; }

textarea.input { min-height: 90px; margin-bottom: 1.4rem; }

::-moz-selection { background: #7c96a3; color: #fff; }

::selection { background: #7c96a3; color: #fff; }

::-webkit-input-placeholder { color: #9e9e9e; -webkit-transition: all .3s; transition: all .3s; }

::-moz-placeholder { color: #9e9e9e; -webkit-transition: all .3s; transition: all .3s; }

:-ms-input-placeholder { color: #9e9e9e; -webkit-transition: all .3s; transition: all .3s; }

::placeholder { color: #9e9e9e; -webkit-transition: all .3s; transition: all .3s; }

.input:focus::-webkit-input-placeholder { opacity: 0; }

.input:focus::-moz-placeholder { opacity: 0; }

.input:focus:-ms-input-placeholder { opacity: 0; }

.input:focus::placeholder { opacity: 0; }

.placeholder { color: #9e9e9e; }

.toast.error { background-color: rgba(244, 67, 54, 0.7); }

.toast.success { background-color: rgba(72, 191, 77, 0.7); }

.toast { position: fixed; z-index: 503; width: 100%; max-width: 280px; right: 2rem; bottom: 2rem; background-color: #fff; color: #fff; display: none; box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.25); padding: 1rem 2rem; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.toast p { display: block; margin-bottom: 0; margin-top: 0.3rem; }

.toast.active { -webkit-animation-name: showToast; animation-name: showToast; -webkit-animation-duration: .3s; animation-duration: .3s;/* -webkit-animation-fill-mode: both; animation-fill-mode: both; */-webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }

.toast_close { position: absolute; color: #fff; top: 0.4rem; right: 1rem; font-size: 2.5rem; cursor: pointer; }

.toast_icon { color: #fff; float: left; margin-right: 2rem; font-size: 3rem; }

@-webkit-keyframes showToast { 0% { opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes showToast { 0% { opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  100% { opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.body_overflow { position: fixed; overflow-y: scroll; width: 100%; height: 100%; }

main { margin-left: 250px; overflow: hidden; }

section { padding: 2rem; background-color: #fff; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); border-radius: 3px; margin-bottom: 2.5rem; width: 100%; clear: both; }

.cke_inner { border-left: 1px solid #F2F2F2 !important; border-right: 1px solid #F2F2F2 !important; }

.cke_chrome { margin-bottom: 2rem !important; }

.save_button, .show_meta { margin-bottom: 2.5rem; }

.input_count { color: #ccc; font-size: 1.2rem; display: inline-block; margin-left: .5rem; }

.last_item { margin-bottom: 0 !important; }

.table { width: 100%; margin-bottom: 2rem; }

.table:last-child { margin-bottom: 0; }

.table td { padding: .3rem 1rem; }

.block_name {font-size: 2rem !important; padding: 0.4rem 0 2rem !important; margin-bottom: 2rem !important;}

a.sort { float: right; font-size: 2rem; line-height: 0; margin-top: 1px; }

a.sort:hover { color: #95b4bc; }

.table { overflow: scroll; }

.table thead { font-size: 1.4rem; background-color: #617d8b; color: #fff; text-transform: uppercase; }

.table thead td { border-right: 1px solid #6E8692; padding: 1rem; }

.table thead td:last-child { border-right: 0; }

.table tbody { overflow: scroll; }

.link_icon.del_icon{color: #FF5757;}

.link_icon.del_icon:hover{color: #DC1515;}

.table tbody tr { border-bottom: 1px solid #E4E1E1; -webkit-transition: background-color .3s ease; transition: background-color .3s ease; }

.table tbody tr:hover { background-color: #F4F4F4 !important; }

.table tbody tr:nth-child(even) { background-color: #FCFCFC; }

.table tbody td { border-right: 1px solid #F7F7F7; }

.link_icon { font-size: 2.5rem; line-height: 1; display: inline-block; color: #262b33; }

.link_icon:hover { color: #617d8b; }

input[type='checkbox'] { position: absolute; left: -9999px; }

input[type='checkbox'] + label { position: relative; padding-left: 3rem; cursor: pointer; display: inline-block; margin-bottom: 1rem; }

input[type='checkbox'] + label:before { content: ''; position: absolute; left: 0; top: .1rem; width: 2rem; height: 2rem; border: 1px solid #aaa; background: #fff; border-radius: 3px; -webkit-transition: all .3s ease; transition: all .3s ease; }

input[type='checkbox'] + label:after { content: '✔'; position: absolute; top: 0.15rem; left: 0.55rem; font-size: 1.4rem; color: #fff; -webkit-transition: all .2s; transition: all .2s; }

input[type='checkbox']:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

input[type='checkbox']:checked + label:after { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

input[type='checkbox']:checked + label:before { background-color: #95b4bc; border: 1px solid #95b4bc; }

input[type='radio'] { position: absolute; left: -9999px; }

input[type='radio'] + label { position: relative; padding-left: 3rem; cursor: pointer; display: inline-block; margin-right: 1rem; margin-bottom: 1rem; }

input[type='radio'] + label:before { content: ''; position: absolute; left: 0; top: .1rem; right: 0; width: 2rem; height: 2rem; border: 1px solid #aaa; background: #fff; border-radius: 50%; -webkit-transition: all .3s ease; transition: all .3s ease; }

input[type='radio']:not(:checked) + label:after { opacity: 0; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); }

input[type='radio']:checked + label:after { opacity: 1; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

input[type='radio']:checked + label:before { background-color: #95b4bc; border: 1px solid #95b4bc; }


.switch { cursor: pointer; margin-bottom: 2rem; display: inline-block; }

.switch:hover .switcher { background-color: #95b4bc; }

.switch.active .switcher { background-color: #95b4bc; }

.switch.active .switcher:after { background-color: #617d8b; left: calc(100% - 2rem); }

.switcher { width: 3.5rem; height: 1.2rem; border-radius: 10px; background-color: #bdbdbd; position: relative; margin-right: 1rem; display: block; float: left; margin-top: 0.55rem; -webkit-transition: all .2s; transition: all .2s; }

.switcher:after { content: ''; display: block; border-radius: 50%; position: absolute; height: 2rem; width: 2rem; background-color: #fff; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); left: 0; top: -0.42rem; -webkit-transition: all .2s ease; transition: all .2s ease; background-color: #f5f5f5; }

.ui-datepicker { background-color: #fff; border: 1px solid #CCCCCC; border-radius: 3px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); display: none; margin-top: 4px; width: 240px; }

.ui-datepicker table { border-collapse: inherit; padding: 1rem; }

.ui-datepicker a, .ui-datepicker a:hover { text-decoration: none; }

.ui-datepicker a:hover, .ui-datepicker td:hover a { color: #fff; }

.ui-datepicker .ui-datepicker-header { margin-bottom: 4px; text-align: center; background-color: #617d8b; padding: 1rem; color: #fff; }

.ui-datepicker .ui-datepicker-title { font-weight: 700; }

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { cursor: pointer; height: 20px; line-height: 1; margin-top: 2px; width: 17px; }

.ui-datepicker .ui-datepicker-prev { float: left; text-align: left; }

.ui-datepicker .ui-datepicker-next { float: right; text-align: right; }

.ui-datepicker .ui-datepicker-prev:before { content: "‹"; font-size: 3rem; line-height: .6; }

.ui-datepicker .ui-datepicker-next:before { content: "›"; font-size: 3rem; line-height: .6; }

.ui-datepicker .ui-icon { display: none; }

.ui-datepicker .ui-datepicker-calendar { table-layout: fixed; width: 100%; }

.ui-datepicker .ui-datepicker-calendar th, .ui-datepicker .ui-datepicker-calendar td { text-align: center; padding: 4px 0; }

.ui-datepicker .ui-datepicker-calendar td { border-radius: 50%; -webkit-transition: background-color .3s ease; transition: background-color .3s ease; }

.ui-datepicker .ui-datepicker-calendar td:hover { background-color: #95b4bc; cursor: pointer; color: #fff; }

.ui-datepicker .ui-datepicker-calendar td a { text-decoration: none; }

.ui-datepicker .ui-datepicker-current-day { background-color: #617d8b; }

.ui-datepicker .ui-datepicker-current-day a { color: #fff; }

.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover { background-color: #fff; cursor: default; }

.upload_row .upload_buttons { margin-top: 2.6rem; }

.none{ display: none;}

.upload { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }

.upload + label { font-size: 1.25rem; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; cursor: pointer; display: inline-block; overflow: hidden; padding: 0; margin-bottom: 2rem; border-radius: 3px; border: 1px solid #CCCCCC; background-color: #fff; color: #617d8b; width: 100%; position: relative; }

.upload:focus + label, .upload.has-focus + label { outline: 1px dotted #000; outline: -webkit-focus-ring-color auto 5px; }

.upload + label .icon { margin-right: 0.5rem; font-size: 1.8rem; margin-top: -.2rem; }

.upload:focus + label, .upload.has-focus + label, .upload + label:hover { outline: none; }

.upload + label span, .upload + label strong { padding: 0.8rem 1.25rem; }

.upload + label span { min-height: 2em; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: top; font-weight: normal; max-width: calc(100% - 136px);}

.upload + label strong { height: 100%; float: right; color: #fff; background-color: #617d8b; display: inline-block; -webkit-transition: all .3s ease; transition: all .3s ease; }

.file_deleted { color: #f44336; font-weight: bold !important; position: absolute; left: 0rem; opacity: 0; }

.file_deleted.active { -webkit-animation-name: fileDeleted; animation-name: fileDeleted; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes fileDeleted { 0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; } }

@keyframes fileDeleted { 0% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; } }

.upload:focus + label strong, .upload.has-focus + label strong, .upload + label:hover strong { background-color: #95b4bc; }

@media screen and (max-width: 500px) { .upload + label strong { display: block; } }

.pagination { text-align: center; }

.pagination .pagi { display: inline-block; border: 1px solid #e0e0e0; -webkit-transition: all .2s ease; transition: all .2s ease; margin: 0 .3rem; border-radius: 2px; padding: .3rem 1rem; }

.pagination .pagi:hover { border: 1px solid #262b33; color: #262b33; }

.pagination .pagi.active { border: 1px solid #617d8b; background-color: #617d8b; color: #fff; }

.per_page { float: right; font-size: 1.6rem; margin-top: 0.5rem; }

.per_page a { color: #9e9e9e; }

.per_page a:hover { color: #617d8b; }

.per_page span { display: inline-block; margin-right: 1rem; }

.per_page .active { color: #617d8b !important; border-bottom: 1px solid #617d8b; }

.dialog { position: fixed; z-index: 503; width: 100%; max-width: 280px; top: 50%; left: 0; right: 0; margin: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-color: #fff; display: none; box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.6); }

.dialog form { padding: 2rem; padding-top: 0; }

.dialog textarea { resize: none !important; }

.dialog .h2 { padding: 2rem; border-bottom: 2px solid #617d8b; color: #617d8b; font-weight: normal; text-align: center; }

.dialog p { display: block; padding: 0 2rem; }

.dialog_bg { position: fixed; z-index: 502; left: 0; top: 0; background-color: rgba(33, 33, 33, 0.5); opacity: 0; display: none; width: 100%; height: 100%; }

.dialog_bg svg { float: left; }

.dialog_bg span { position: absolute; top: 2rem; right: 2rem; color: #fff; cursor: pointer; font-size: 3.5rem; -webkit-transition: color .3s ease; transition: color .3s ease; opacity: 0; }

.dialog_bg span:hover { color: #617d8b; }

.dialog_opened { position: fixed; overflow-y: scroll; width: 100%; height: 100%; }

.dialog_opened .dialog_bg { -webkit-animation-name: fadeIn; animation-name: fadeIn; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.dialog_opened .dialog_bg span { opacity: 1; }

.active_dialog { -webkit-animation-name: showDialog; animation-name: showDialog; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.input_preview { position: fixed; z-index: 503; margin: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); background-color: #fff; display: none; box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.6); top: 50%; right: 0; left: 0; max-height: 80vh; max-width: 80vh; width: auto; height: auto; }

.input_preview.active { -webkit-animation-name: showDialog; animation-name: showDialog; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeIn { 0% { opacity: 0; }
  100% { opacity: 1; } }

@-webkit-keyframes showDialog { 0% { opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%); }
  100% { opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes showDialog { 0% { opacity: 0;
    -webkit-transform: translateY(-35%);
            transform: translateY(-35%); }
  100% { opacity: 1;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

.custom_scroll_wrap1 { overflow: hidden; position: relative; }

.custom_scroll_wrap1:hover .custom_scroll_bar { opacity: .2; -webkit-transition-delay: 0s; transition-delay: 0s; }

.custom_scroll_wrap2 { overflow-y: scroll; height: 100%; margin-right: -1.7rem;}

.custom_scroll_bar { width: .8rem; background-color: #929599; height: 5rem; position: absolute; top: .3rem; right: .3rem; -webkit-transition: opacity .3s ease, height .2s ease; transition: opacity .3s ease, height .2s ease; opacity: 0; -webkit-transition-delay: .8s; transition-delay: .8s; display: none; }

.custom_scroll_bar:hover { opacity: .3 !important; }

.loading { position: relative; }

.loading.dialog { position: fixed; }

.loading:after { content: ''; background: rgba(255, 255, 255, 0.7) url(../img/ring.svg) no-repeat center; width: 100%; height: 100%; position: absolute; top: 0; right: 0; background-size: 65px; }

.step3_btn { float: left; height: 14.5rem; margin-right: 2%; width: 32%; margin-bottom: 2%; position: relative; background-color: transparent; -webkit-perspective: 800px; perspective: 800px; }

.step3_btn:nth-child(3n+0) { margin-right: 0; }

.step3_btn.active .step_second_btn { -webkit-transform: rotateX(0); transform: rotateX(0); -webkit-transition-delay: .3s; transition-delay: .3s; }

.step3_btn.active .step_first_btn { -webkit-transform: rotateX(90deg); transform: rotateX(90deg); -webkit-transition-delay: 0s !important; transition-delay: 0s !important; }

.step_check { font-size: 3.2rem; width: 100%; text-align: center; padding-top: .4rem !important; }

.back_step_icon { position: absolute; left: 1rem; top: 2rem; color: #fff; cursor: pointer; left: 0.2rem; top: -0.6rem; font-size: 2.5rem; }

.step_second_btn { border-radius: 4px; padding: 0 1rem; background-color: #5CA96C; width: 100%; height: 100%; position: absolute; top: 0; right: 0; -webkit-transform: rotateX(-90deg); transform: rotateX(-90deg); z-index: 5; -webkit-transition: all .4s; transition: all .4s; -webkit-transition-delay: 0s; transition-delay: 0s; box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4); color: #fff; }

.step_second_btn .input { height: 30px; margin-bottom: 1rem; color: #212121; border: 1px solid #fff !important; }

.step_second_btn input[type='checkbox']:checked + label:before { background-color: #9BDC50; border: 1px solid #9BDC50; }

.step_second_btn .step_name { color: #fff; top: 0.5rem; }

.second_step_content { position: absolute; top: 4rem; left: 0; width: 100%; padding: 0 2rem; }

.step_first_btn { -webkit-transition-delay: .4s !important; transition-delay: .4s !important; position: absolute; top: 0; right: 0; border-radius: 4px; padding: 0 1rem; background-color: #617d8b; color: #fff; cursor: pointer; text-align: center; text-transform: uppercase; width: 100%; height: 100%; -webkit-transition: color .3s, -webkit-transform .4s; transition: color .3s, -webkit-transform .4s; transition: transform .4s, color .3s; transition: transform .4s, color .3s, -webkit-transform .4s; box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.4); }

.step_first_btn:hover { background-color: #4c626d; }

.step_first_btn:hover .hidden_step { opacity: 1; -webkit-transform: translateY(-22px); -ms-transform: translateY(-22px); transform: translateY(-22px); }

.step_first_btn:hover .step_name { -webkit-transform: translateY(-30px); -ms-transform: translateY(-30px); transform: translateY(-30px); }

.step_name { -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; position: absolute; top: 6.1rem; left: 2rem; right: 2rem; text-align: center; -webkit-backface-visibility: hidden; backface-visibility: hidden; }

.hidden_step { position: absolute; font-size: 1.4rem; text-transform: none; line-height: 1.3; left: 1rem; right: 1rem; bottom: 1rem; opacity: 0; -webkit-transition: all .3s ease-in-out; transition: all .3s ease-in-out; -webkit-transform: translateY(20px); -ms-transform: translateY(20px); transform: translateY(20px); -webkit-backface-visibility: hidden; backface-visibility: hidden; }

* { box-sizing: border-box; margin: 0; padding: 0; }

html { font-size: 62.5%; }

p { margin-bottom: 1.5rem; }

ul, ol { list-style-position: inside; }

img { max-width: 100%; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

[class^="icon_"], [class*=" icon_"], .icon { display: inline-block; width: 1em; height: 1em; fill: currentColor; }

[disabled], .disabled { opacity: 0.5; cursor: not-allowed; pointer-events: none; }

.clearfix::before, nav a::before, .row::before, .clearfix::after, nav a::after, .row::after { content: " "; display: table; }

.clearfix::after, nav a::after, .row::after { clear: both; }

.clearfix, nav a, .row { *zoom: 1; }

.table { display: table; }

.tcell { display: table-cell; vertical-align: middle; }

.tc { text-align: center; }

.tl { text-align: left; }

.tr { text-align: right; }

.fl { float: left; }

.fr { float: right; }

.noselect, input[type='checkbox'] + label, input[type='radio'] + label, .switch, .custom_scroll_bar, .header_icon { -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.strong { font-weight: 600; }

.light { font-weight: 300; }

.normal { font-weight: 400; }

.italic { font-style: italic; }

.underline { text-decoration: underline; }

.uppercase { text-transform: uppercase; }

.truncate { max-width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.content ul, .content ol, .content table, .content img, .content iframe { margin-bottom: 2rem; }

.content ul:last-child, .content ol:last-child, .content table:last-child, .content img:last-child, .content iframe:last-child { margin-bottom: 0; }

.content p:last-child { margin-bottom: 0; }

.content ul { padding-left: 2rem; }

.content a { text-decoration: underline; color: #4c626d; }

hr { border-top: 1px solid #DBDBDB; border-bottom: 0; border-right: 0; border-left: 0; clear: both; margin: 2rem 0; }

hr.dotted { border-style: dotted; }

hr.dashed { border-style: dashed; }

aside .logo { background-color: #262b33; display: block; padding: 1rem; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); height: 66px; }

aside .logo svg { width: 170px; margin-left: 12%; -webkit-transition: margin .5s ease-in-out; transition: margin .5s ease-in-out; }

aside { width: 250px; position: fixed; background-color: #262b33; color: #929599; height: 100vh; z-index: 2; bottom: 0; left: 0; }

aside .custom_scroll_wrap1 { margin: 2rem 0; height: calc(100vh - 14.2rem); }

nav ul ul .custom_scroll_wrap1 {
    max-height: auto;
    height: auto;
    margin: 0;
    overflow: hidden !important;
}
nav ul ul .custom_scroll_wrap2 {
    max-height: 33.6rem;
    overflow-y: scroll !important;
}

nav li { list-style: none; display: block; padding: 0 2rem; }

nav span { display: block; float: left; top: 1.4rem; left: 3rem; position: absolute; }

nav a { padding: 1.5rem 0; display: block; color: #929599; font-size: 14px; font-weight: bold; position: relative; }

nav a:hover { color: #fff; }

nav .left_icon { font-size: 2rem; margin-right: 1rem; margin-top: -1px; float: left; }

nav .right_icon { position: absolute; top: 50%; margin-top: -.65rem; right: 0; -webkit-transition: all .2s; transition: all .2s; }

nav ul ul { display: none; }

nav ul ul li { display: block; margin-left: 2.3rem; padding-left: 0; list-style: none; }

nav ul ul a { padding: .7rem 0; position: relative; display: block; clear: both; margin-left: 0.7rem; line-height: 1.3; }

nav ul ul a:after { position: absolute; content: '•'; left: -2.6rem; top: 0.1rem; color: #929599; line-height: 1; font-size: 3rem; }

.active_nav { color: #fff !important; }

.active_nav .right_icon { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

header { box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); background-color: #fff; color: #262b33; display: table; width: 100%; margin-bottom: 2.5rem; position: relative; z-index: 5; }

.header_icon { line-height: 1; padding: 1.7rem; height: 66px; border-right: 1px solid #F3F2F2; float: left; cursor: pointer; -webkit-transition: all .3s ease; transition: all .3s ease; }

.header_icon:hover { color: #fff; background-color: #617d8b; }

.header_icon .icon { font-size: 3rem; }

.burger { padding: 1.7rem 1.5rem; }

.burger .icon { font-size: 3.4rem; }

.to_website span { margin-left: 1rem; margin-top: 0.9rem; float: right; display: block; }

.search { padding: 1.9rem 1.7rem; }

.help { font-size: 2.7rem; padding: 1.65rem; }

aside.active ul ul { position: absolute; background-color: #262B33; left: 100%; top: 0.4rem; margin-left: -1.7rem; padding: 1rem 0 0.6rem 1rem; opacity: 0; }

aside.active ul ul a { white-space: nowrap; padding-right: 2rem; }

aside.active ul ul ul { margin-left: 0; top: -7px;}

aside.active ul ul li { padding: 0; }

aside.active li { position: relative; }

aside.active .submenu_head { display: block; margin-bottom: 1rem; font-size: 1.4rem; white-space: nowrap; margin-left: 0.5rem; color: #8F9296; }

aside.active .custom_scroll_wrap1 {
overflow: visible;
}
aside.active .custom_scroll_wrap2 {
overflow-y: visible;
}

.header_user { float: right; margin-right: 2rem; }

.logout { font-size: 3rem; line-height: 1; padding: 1.7rem; border-left: 1px solid #F3F2F2; display: block; float: right; }

.logout:hover { color: #fff; background-color: #617d8b; }

.logged_as { float: right; padding: 2.1rem; }

.copyright { position: absolute; bottom: 0; text-align: center; padding: 1rem; font-size: 1.3rem; left: 0; right: 0; }

.copyright:after { position: absolute; top: -.2rem; left: 0; right: 0; width: 34%; height: 2px; background-color: #383C42; content: ''; margin: 0 auto; }

.submenu_head { display: none; }

.search_form { background-color: #fff; position: absolute; top: 6.5rem; z-index: 2; box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.2); border-radius: 4px; padding: 2rem 2rem 1rem; max-width: 450px; display: none; }

.search_form .input { margin-top: 0.6rem; margin-bottom: 1rem; }

.search_form .h3 { padding-bottom: 1.5rem; border-bottom: 2px solid #617d8b; font-weight: normal; line-height: 1; }

[class*='col_'] { margin-left: 4%; float: left; }

[class*='col_']:first-child { margin-left: 0; }

.col_1 { width: 4.66666666667%; }

.col_2 { width: 13.3333333333%; }

.col_3 { width: 22%; }

.col_4 { width: 30.6666666667%; }

.col_5 { width: 39.3333333333%; }

.col_6 { width: 48%; }

.col_7 { width: 56.6666666667%; }

.col_8 { width: 65.3333333333%; }

.col_9 { width: 74.0%; }

.col_10 { width: 82.6666666667%; }

.col_11 { width: 91.3333333333%; }

.col_12 { width: 100%; margin-left: 0; }

.one_plugin {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #ff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.12);
    margin-bottom: 2rem;
    padding: 2rem;
    padding-bottom: 0;
}

.one_plugin ul {
    padding-bottom: 1rem;
}
.one_plugin ul li {
    display: inline-block;
    margin-right: 1rem;
}
.one_plugin ul a {
    display: block;
    padding: .5rem 1rem;
    color: #617d8b;
    background-color: #fff;
    border: 1px solid #617d8b;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin-bottom: 1rem;
}
.one_plugin ul a:hover {
    background-color: #617d8b;
    color: #fff;
}
.one_plugin .button.clear {
    margin-top: -0.5rem;
}

@media screen and (max-width: 550px) { [class*='col_'] { width: 100%; margin-left: 0; } }

/* The MIT License Copyright (c) 2012 Matias Meno <m@tias.me> */
@-webkit-keyframes passing-through { 0% { opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  30%, 70% { opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% { opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); } }

@keyframes passing-through { 0% { opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  30%, 70% { opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% { opacity: 0;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px); } }

@-webkit-keyframes slide-in { 0% { opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  30% { opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes slide-in { 0% { opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px); }
  30% { opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@-webkit-keyframes pulse { 0% { -webkit-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); transform: scale(1); } }

@keyframes pulse { 0% { -webkit-transform: scale(1); transform: scale(1); }
  10% { -webkit-transform: scale(1.1); transform: scale(1.1); }
  20% { -webkit-transform: scale(1); transform: scale(1); } }

.dropzone, .dropzone * { box-sizing: border-box; }

.dropzone { height: 100%; padding: 2rem; position: relative; border-radius: 4px; border: 2px dashed #95b4bc; -webkit-transition: all .2s ease; transition: all .2s ease; }

.dropzone .dz-message div { font-size: 2rem; color: #617d8b; -webkit-transition: all .3s ease; transition: all .3s ease; }

.dropzone .icon { font-size: 4rem; margin-top: 2.3rem; color: #617d8b; -webkit-transition: all .3s ease; transition: all .3s ease; }

.dropzone.dz-clickable { cursor: pointer; }

.dropzone.dz-clickable * { cursor: default; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * { cursor: pointer; }

.dropzone.dz-started .dz-message { display: none; }

.dropzone.dz-drag-hover { border: 2px dashed #617d8b; }

.dropzone.dz-drag-hover .dz-message div { opacity: 0.5; }

.dropzone.dz-drag-hover .dz-message .icon { -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg); transform: rotate(-180deg); }

.dropzone .dz-message { text-align: center; margin: 5em 0; }

.dropzone .dz-preview { position: relative; display: inline-block; vertical-align: top; margin: 16px; min-height: 100px; }

.dropzone .dz-preview:hover { z-index: 1000; }

.dropzone .dz-preview:hover .dz-details { opacity: 1; }

.dropzone .dz-preview.dz-file-preview .dz-image { border-radius: 4px; background: #999; background: -webkit-linear-gradient(top, #eee, #ddd); background: linear-gradient(to bottom, #eee, #ddd); }

.dropzone .dz-preview.dz-file-preview .dz-details { opacity: 1; }

.dropzone .dz-preview.dz-image-preview { background: white; }

.dropzone .dz-preview.dz-image-preview .dz-details { -webkit-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }

.dropzone .dz-preview .dz-remove { font-size: 14px; text-align: center; display: block; cursor: pointer; border: none; }

.dropzone .dz-preview .dz-remove:hover { text-decoration: underline; }

.dropzone .dz-preview:hover .dz-details { opacity: 1; }

.dropzone .dz-preview .dz-details { z-index: 20; position: absolute; top: 0; left: 0; opacity: 0; font-size: 13px; min-width: 100%; max-width: 100%; padding: 2em 1em; text-align: center; color: #262b33; line-height: 150%; }

.dropzone .dz-preview .dz-details .dz-size { margin-bottom: 1em; margin-top: .8rem; }

.dropzone .dz-preview .dz-details .dz-filename { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.dropzone .dz-preview .dz-details { overflow: hidden; }

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span { background-color: rgba(255, 255, 255, 0.4); padding: .3rem; border-radius: 3px; }

.dropzone .dz-preview:hover .dz-image img { -webkit-filter: blur(2px); filter: blur(2px); }

.dropzone .dz-preview .dz-image { border-radius: 4px; overflow: hidden; width: 120px; height: 120px; position: relative; display: block; z-index: 10; }

.dropzone .dz-preview .dz-image img { -webkit-transition: all .2s; transition: all .2s; display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark { -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview.dz-error .dz-error-mark { opacity: 1; -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark { pointer-events: none; opacity: 0; z-index: 500; position: absolute; display: block; top: .5rem; right: .5rem; width: 30px; height: 30px; }

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg { display: block; width: 100%; height: 100%; }

.dropzone .dz-preview.dz-processing .dz-progress { opacity: 1; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }

.dropzone .dz-preview.dz-complete .dz-progress { opacity: 0; -webkit-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in; }

.dropzone .dz-preview:not(.dz-processing) .dz-progress { -webkit-animation: pulse 6s ease infinite; animation: pulse 6s ease infinite; }

.dropzone .dz-preview .dz-progress { opacity: 1; z-index: 1000; pointer-events: none; position: absolute; height: 16px; left: 50%; top: 50%; margin-top: -8px; width: 80px; margin-left: -40px; background: rgba(255, 255, 255, 0.9); -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); border-radius: 8px; overflow: hidden; }

.dropzone .dz-preview .dz-progress .dz-upload { background: #333; background: -webkit-linear-gradient(top, #666, #444); background: linear-gradient(to bottom, #666, #444); position: absolute; top: 0; left: 0; bottom: 0; width: 0; -webkit-transition: width 300ms ease-in-out; transition: width 300ms ease-in-out; }

.dropzone .dz-preview.dz-error .dz-error-message { display: block; }

.dropzone .dz-preview.dz-error:hover .dz-error-message { opacity: 1; pointer-events: auto; }

.dropzone .dz-preview .dz-error-message { pointer-events: none; z-index: 1000; position: absolute; display: block; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease; transition: opacity 0.3s ease; border-radius: 8px; font-size: 13px; top: 130px; left: -10px; width: 140px; background: #ef5350; padding: 0.5em 1.2em; color: white; }

.dropzone .dz-preview .dz-error-message:after { content: ''; position: absolute; top: -6px; left: 64px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #ef5350; }

.dropzone .dz-preview { position: relative; display: inline-block; width: 120px; margin: 0.5em; }

.dropzone .dz-preview .dz-progress { display: block; height: 15px; border: 1px solid #aaa; }

.dropzone .dz-preview .dz-progress .dz-upload { display: block; height: 100%; width: 0; background: #4caf50; }

.dropzone .dz-preview .dz-error-message { color: #fff; display: none; }

.dropzone .dz-preview.dz-error .dz-error-message, .dropzone .dz-preview.dz-error .dz-error-mark { display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark { display: block; }

.dz-error .dz-image img { -webkit-filter: blur(2px) !important; filter: blur(2px) !important; }

.login_form { position: absolute; top: 43%; right: 0; bottom: 0; left: 0; margin: auto; max-width: 350px; width: 100%; height: 306px; margin-top: -153px; box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.29); background-color: #fff; padding: 2rem; z-index: 2; }

.login_form .logo { margin-bottom: 2rem; display: block; }

.login_form .button { margin-bottom: 0; float: right; margin-top: 0.5rem; background-color: #fff; color: #617d8b; }

.login_form .button:hover { background-color: #617d8b; color: #fff; }

.under_login { position: absolute; top: 43%; right: 0; bottom: 0; left: 0; margin: auto; max-width: 400px; width: 100%; height: 160px; margin-top: 57px; background-color: #617d8b; padding: 11.3rem 2rem 2rem; z-index: 1; color: #fff; text-align: center; }

.under_login a { margin: 0 1.5rem; font-size: 1.4rem; }

.under_login a:hover { text-decoration: underline; color: #fff; }

.meta_tags { overflow: hidden; display: none; }

.help_dialog { max-width: 400px; }

.preview_button { margin-right: 1rem; }

.gellery_section { overflow: hidden; }

.gallery_container { width: 114.5%; margin-left: -1%; overflow: scroll; margin-right: -10%; padding-right: 10%; margin-bottom: -14%; padding-bottom: 10%; }

.upload_gallery .icon { font-size: 1.9rem; margin-top: -0.3rem; margin-left: 0.5rem; }

.gallery_image { position: relative; border-radius: 3px; border: 1px solid #ccc; float: left; width: 23%; margin-right: 1%; margin-left: 1%; margin-bottom: 2%; }

.gallery_image:hover .gallery_delete, .gallery_image:hover .gallery_move { -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); opacity: 1; }

.gallery_image .input { min-height: 6rem; margin-bottom: 0; resize: none; border: 0 !important; display: block; }

.gallery_bg { background-position: center; background-size: cover; height: 15rem; width: 100%; }

.gallery_delete, .gallery_move { position: absolute; top: .5rem; font-size: 2rem; color: #fff; padding: 0.3rem 0; line-height: 1; text-align: center; border-radius: 50%; background-color: #617d8b; width: 3rem; height: 3rem; cursor: pointer; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); -webkit-transform: scale(0.3); -ms-transform: scale(0.3); transform: scale(0.3); opacity: 0; }

.gallery_delete:hover, .gallery_move:hover { background-color: #4c626d; }

.gallery_delete { right: .5rem; -webkit-transition: background-color .2s ease, opacity .2s .1s, -webkit-transform .2s .1s; transition: background-color .2s ease, opacity .2s .1s, -webkit-transform .2s .1s; transition: background-color .2s ease, transform .2s .1s, opacity .2s .1s; transition: background-color .2s ease, transform .2s .1s, opacity .2s .1s, -webkit-transform .2s .1s; }

.gallery_move { right: 4rem; -webkit-transition: background-color .2s ease, opacity .2s .1s, -webkit-transform .2s; transition: background-color .2s ease, opacity .2s .1s, -webkit-transform .2s; transition: background-color .2s ease, transform .2s, opacity .2s .1s; transition: background-color .2s ease, transform .2s, opacity .2s .1s, -webkit-transform .2s; }

.upload_container { position: fixed; width: 100%; bottom: 0; height: 35.2rem; background-color: #fff; left: 0; padding: 2rem; z-index: 1000; visibility: hidden; pointer-events: none; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); display: none; }

.upload_container.active { pointer-events: initial; visibility: visible; -webkit-animation-name: showUpload; animation-name: showUpload; -webkit-animation-fill-mode: both; animation-fill-mode: both; -webkit-animation-duration: .4s; animation-duration: .4s; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }

@-webkit-keyframes showUpload { 0% { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }

@keyframes showUpload { 0% { -webkit-transform: translate3d(0, 100%, 0); transform: translate3d(0, 100%, 0); }
  100% { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); } }

.checkbox_table input[type='checkbox'] + label {
    float: left;
    height: 17px;
    margin-bottom: 0;
}
.checkbox_table input[type='checkbox'] + label:before {
    height: 1.5rem;
    width: 1.5rem;
}
.checkbox_table input[type='checkbox'] + label:after {
    top: -0.05rem;
    left: 0.35rem;
}



@media screen and (max-width: 450px) { html { font-size: 56%; }
  .sm_hide { display: none; } }

@media screen and (max-width: 550px) { h1, .h1 { font-size: 2.6rem; }
  h2, .h2 { font-size: 2.2rem; }
  h3, .h3 { font-size: 1.9rem; }
  h4, .h4 { font-size: 1.7rem; } }

@media screen and (max-width: 750px) { .md_hide { display: none; } }

@media screen and (max-width: 1000px) { .cke_toolbar_break { display: none !important; } }

.disabled_replace.link_icon{
    color: #E8E8E8;
}

.disabled_replace.link_icon:hover{
    color: #E8E8E8;
}

tr.disabled_tr{ background-color: rgba(243, 92, 143, 0.22) !important;}

.table tbody tr.disabled_tr:hover{ background-color: rgba(247, 76, 76, 0.64)!important;}

.hight_level_small{
    font-weight: bold;
    font-size: 53%;
    color: #95B4BC;
    text-transform: uppercase;
}

.ui-timepicker-div .ui-widget-header{margin-bottom:8px}.ui-timepicker-div dl{text-align:left}.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}.ui-timepicker-div dl dd{margin:0 10px 10px 40%}.ui-timepicker-div td{font-size:90%}.ui-tpicker-grid-label{background:0 0;border:0;margin:0;padding:0}.ui-timepicker-div .ui_tpicker_unit_hide{display:none}.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input{background:0 0;color:inherit;border:0;outline:0;border-bottom:solid 1px #555;width:95%}.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus{border-bottom-color:#aaa}.ui-timepicker-rtl{direction:rtl}.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}.ui-timepicker-rtl dl dt{float:right;clear:right}.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}.ui-timepicker-div.ui-timepicker-oneLine{padding-right:2px}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time,.ui-timepicker-div.ui-timepicker-oneLine dt{display:none}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label{display:block;padding-top:2px}.ui-timepicker-div.ui-timepicker-oneLine dl{text-align:right}.ui-timepicker-div.ui-timepicker-oneLine dl dd,.ui-timepicker-div.ui-timepicker-oneLine dl dd>div{display:inline-block;margin:0}.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before{content:':';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before{content:'.';display:inline-block}.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{display:none}

.ui-slider-handle {
    width: 15px;
    height: 15px;
    display: block;
    background: #617D8B;
    position: absolute;
    margin-top: -3px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px #ccc;
}
.ui-timepicker-div {
    padding: 0 1.2rem .5rem
}
.ui-datepicker-buttonpane {
    padding: 0 1.2rem 1.2rem;
    text-align: center;
}
.ui_tpicker_minute_label {
    margin-top: -7px !important;
}
.ui_tpicker_hour {
    margin-top: 5px !important;
    margin-bottom: 19px !important;
}

.ui-datepicker-buttonpane button { display: inline-block; text-align: center; white-space: nowrap; cursor: pointer; text-decoration: none; -webkit-transition: all .3s ease; transition: all .3s ease; padding: 0 10px; height: 26px; line-height: 26px; color: #fff; background-color: #617d8b; border: 1px solid #617d8b; text-transform: uppercase; font-size: 1.3rem; font-weight: normal; margin: 0 .5rem; }

.ui-datepicker-buttonpane button:hover { color: #617d8b; background-color: #fff; }

.ui-datepicker-buttonpane button:focus { outline: 0; }

.ui_tpicker_hour_slider, .ui_tpicker_minute_slider  {
    width: 100%;
    position: relative;
    height: 10px;
    background-color: #F2F2F2;
}
.ui_tpicker_time {
    margin-top: 1px;
    display: inline-block;
}
.ui_tpicker_hour_label, .ui_tpicker_minute_label {
    margin-top: 7px;
}

.some_list .h2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #e8e8e8;
}
.some_list_head {
    font-weight: bold;
    padding-left: 2rem;
    position: relative;
    color: #95b4bc;
}
.some_list_head:after {
    content: '';
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #95b4bc;
    position: absolute;
    left: 0;
    top: .6rem;
}
.some_list_foot {
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.add_tags {
    position: relative;
}
.add_tags .input {
    float: left;
    padding-right: 10rem;
}
.add_tags .button {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 3px 3px 0;
}
.tag_spans span {
    margin-right: 0.5rem;
    margin-bottom: .5rem;
    padding: 0rem 1rem;
    display: inline-block;
    border-radius: 3px;
    background-color: #88A2A9;
    color: #fff;
    position: relative;
}
.tag_spans a {
    float: right;
    margin-left: 0.5rem;
    margin-top: -1px;
}
.tag_spans a:hover {
    color: #fff;
}


.autocomplete_container {
    position: relative;
}
.autocomplete {
    position: absolute;
    top: 100%;
    margin-top: -2rem;
    background-color: #fff;
    z-index: 2;
    width: 100%;
    box-shadow: 0px 2px 9px rgba(70, 70, 70, 0.43)
}
.autocomplete li {
    display: block;
    color: #212121;
    padding: .2rem 1.5rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.autocomplete li:hover {
    background-color: #95B4BC;
    color: #fff;
    cursor: pointer;
}

.google_title{
    color: #609;
    font-size: 18px;
    margin: 0;
    font-family: arial,sans-serif;
    padding: 0;
    cursor: pointer;
}
.google_title:hover{
    text-decoration: underline;
    color: #609 !important;
}
.google_url{
    font-weight: bold;
    color: #006621;
    font-style: normal;
    line-height: 16px;
    font-family: arial,sans-serif;
}
.google_description{
    font-weight: bold;
    line-height: 1.4;
    word-wrap: break-word;
    color: #545454;
    font-family: arial,sans-serif;
    font-size: small;
}

input.small {width: 15%;}
input.medium {width: 75%;}
textarea.small {width: 100%; height: 7rem; padding: 1rem;}
textarea.medium {width: 100%; height: 10rem; padding: 1rem;}
textarea.big {width: 100%; height: 17rem; padding: 1rem;}